/* generic */
* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
html {
	padding: 0px;
	margin: 0px;
}
body {
	margin: 0px auto;
	padding: 20px;
	width: 950px;
	background-color: #CCC;
	color: #000;
	font-size: 12pt;
	font-family: 'Times New Roman', 'Times', 'Arial';
}
header {
	margin-bottom: 10px;
}
footer {
	margin-top: 10px;
	text-align: right;
}
h1 {
	margin: 0px 0px 10px 0px;
	font-size: 2em;
	font-weight: bold;
}
h1 span {
	font-size: 0.4em;
}
a {
	color: blue;
	font-weight: bold;
}
hr {
	clear: left;
	margin: 0px -10px 10px;
	padding: 10px 0px 0px;
	border-style: none;
	border-bottom: 1px solid black;
}
hr + hr {
	padding: 0px;
	margin-top: -9px;
}
input, select {
	height: 1.5em;
	padding: 1px 5px;
	font-size: inherit;
	background-color: transparent;
	color: #000;
	border: 1px solid #AAA;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
input[type="checkbox"]{
	height: auto;
}
input:disabled, select:disabled {
	color: #888;
}
form {
	position: relative;
	display: block;
}
fieldset {
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
	line-height: 26px;
	border-style: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
legend {
	background-color: inherit;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
form > fieldset {
	margin: 0px 0px 10px;
	padding: 0px 10px 10px 10px;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 8px 0px rgba(0,0,0,0.6);
	box-shadow: 0 0 8px 0px rgba(0,0,0,0.6);
}
form > fieldset > legend {
	padding: 2px 7px;
	border: 1px solid black;
	border-bottom-style: none;
}
form > fieldset fieldset {
	float: left;
	margin-right: 20px;
}
form > fieldset fieldset > legend {
	text-decoration: underline;
}
legend, label {
	font-weight: bold;
}
legend > label {
	cursor: pointer;
}
fieldset > label, fieldset > section > label {
	clear: left;
	display: inline-block;
}
fieldset > label, fieldset > select, fieldset > span, fieldset > input:not([type="hidden"]):not([type="submit"]),
fieldset > section > label, fieldset > section > select, fieldset > section > span, fieldset > section > input:not([type="hidden"]):not([type="submit"]) {
	float: left;
}
input[type="text"], input[type="number"] {
	width: 100px;
	text-align: center;
}
input[type="button"], input[type="text"][readonly] {
	border-style: none;
	color: #000;
	background-color: #FFF;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
ul, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

/* specific styles */
form > select {
	position: absolute;
	top: -2em;
	right: 0px;
	font-size: 14pt;
	background-color: #FFF;
	border-color: #000;
	-webkit-box-shadow: 0 0 8px 0px rgba(0,0,0,0.6);
	box-shadow: 0 0 8px 0px rgba(0,0,0,0.6);
}
form > fieldset:first-child {
	background-color: rgba(255, 150, 0, 0.9);
}
form > fieldset:first-child > section > input:last-child {
	width: 90%;
	margin-left: 5%;
}
input[type="submit"] {
	display: block;
	margin: 15px auto 0px;
	padding: 2px 10px;
	background-color: #FFF;
	border-color: #000;
	font-size: 120%;
	font-weight: bold;
	cursor: pointer;
	-webkit-box-shadow: 0 0 8px 0px rgba(0,0,0,0.6);
	box-shadow: 0 0 8px 0px rgba(0,0,0,0.6);
}
input[type="submit"]:active {
	padding: 3px 9px 1px 11px;
	-webkit-box-shadow: 0 0 8px 0px rgba(0,0,0,0.6), 1px 1px 2px -1px #000 inset;
	box-shadow: 0 0 8px 0px rgba(0,0,0,0.6), 1px 1px 2px -1px #000 inset;
}
fieldset > label, fieldset > section > label {
	width: 380px;
	padding-right: 5px;
}
fieldset fieldset > label {
	width: 250px;
}
fieldset > ul > li:before {
	content:'-';
	margin-right: 5px;
}
fieldset > input + input[type="checkbox"] + label,
fieldset > select + input[type="checkbox"] + label,
fieldset > hr + input[type="checkbox"] + label {
	position: relative;
	display: block;
	width: 24%;
	bottom: -10px;
	left: -10px;
	margin: -5px 0px 0px 38%;
	padding: 0px 10px;
	cursor: pointer;
	text-align: center;
	line-height: 1.2em;
	border: 1px solid black;
	border-bottom-style: none;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	background-color: #FFF;
	font-size: 75%;
}

/* info lists */
fieldset > div {
	float: right;
	position: relative;
	padding: 1px 5px;
	margin: 0px 0px 0px 10px;
	border: 1px solid black;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #CCC;
	line-height: normal;
}
fieldset > div:hover {
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	background-color: #EEE;
}
fieldset > div ul {
	display: none;
	position: absolute;
	right: -1px;
	margin-top: 1px;
	min-width: 105%;
	text-align: center;
	border: 1px solid black;
	-webkit-border-radius: 5px 0px 5px 5px;
	border-radius: 5px 0px 5px 5px;
	background-color: #EEE;
	z-index: 100;
}
fieldset > div ul ul {
	right: 100%;
	top: -1px;
	margin-top: 0px;
}
fieldset > div:hover > ul {
	display: block;
}
fieldset > div[data-sub] > ul:hover {
	-webkit-border-radius: 0px 0px 5px 0px;
	border-radius: 0px 0px 5px 0px;
}
fieldset > div ul > li {
	padding: 2px 5px;
	white-space: nowrap;
	cursor: pointer;
}
fieldset > div ul > li:hover {
	background-color: #CCC;
}
fieldset > div ul > li:hover > ul {
	display: block;
}
fieldset > div ul > li:first-child {
	-webkit-border-radius: 5px 0px 0px 0px;
	border-radius: 5px 0px 0px 0px;
}
fieldset > div ul > li:last-child {
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
fieldset > div ul > li:first-child:last-child {
	-webkit-border-radius: 5px 0px 5px 5px;
	border-radius: 5px 0px 5px 5px;
}
fieldset > div[data-sub] > ul:hover > li:first-child {
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
fieldset > div[data-sub] > ul:hover > li:last-child,
fieldset > div[data-sub] > ul:hover > li:first-child:last-child {
	-webkit-border-radius: 0px 0px 5px 0px;
	border-radius: 0px 0px 5px 0px;
}

/* checkbox toggle magic */
form > input[type="checkbox"],
fieldset > input + input[type="checkbox"],
fieldset > select + input[type="checkbox"],
fieldset > hr + input[type="checkbox"] {
	display: none;
}
form > input[type="checkbox"]:not(:checked) + fieldset > legend > label > span:last-child {
	display: none;
}
form > input[type="checkbox"]:checked + fieldset > legend > label > span:first-child,
fieldset > input + input[type="checkbox"]:checked + label,
fieldset > select + input[type="checkbox"]:checked + label,
fieldset > hr + input[type="checkbox"]:checked + label {
	display: none;
}
form > input[type="checkbox"]:not(:checked) + fieldset > section,
fieldset > input + input[type="checkbox"]:not(:checked) + label + section,
fieldset > select + input[type="checkbox"]:not(:checked) + label + section,
fieldset > hr + input[type="checkbox"]:not(:checked) + label + section {
	display: none;
}
form > input[type="checkbox"]:checked + fieldset > section,
fieldset > input + input[type="checkbox"]:checked + label + section,
fieldset > hr + input[type="checkbox"]:checked + label + section,
fieldset > select + input[type="checkbox"]:checked + label + section {
	display: block;
}

/* info checkbox styling */
input[type="checkbox"][id^="info_"]:disabled {
}
